.title {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  padding: 20px;
}

.btn {
  margin: 20px;
}

.btn-primary {
  width: 80px;
}

.btn-dark {
  width: 200px;
}

.card {
  margin-top: 40px;
  border: none;
}
